# Operaciones Basicas  - Jupyter Notebook

This is a jupyter notebook tutorial, where we learn how to use python with jupyter notebooks.  We learn how to run a cell, we look at different data types and learn how to use a jupyter notebook as a calculator. We also take a brief look at strings and error messages

In [1]:
5+6 #Realizo una suma

11

In [2]:
4-11 #Realizo una resta

-7

In [3]:
5*8 #Realizo un producto

40

In [6]:
9/2 #Division que da como resultado un FLOAT

4.5

In [8]:
9//2 #Division entera. El resultado obtenido aqui es el mismo resultado que 9/2 en Python 2

4

In [9]:
type(5) #Veo que tipo de dato es 5, el cual corresponde a INT (entero)

int

In [10]:
type (5.0) #Veo que tipo de dato es 5.0, el cual corresponde a FLOAT (flotante)

float

In [13]:
type("Hello") #Veo que tipo de dato es "Hello", el cual corresponde a STR (string)

str

Cuanto se ingresa un string se debe realizar con comillas